container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  09_download:
    command: "wget http://aws-cloudwatch.s3.amazonaws.com/downloads/CloudWatchMonitoringScripts-1.2.1.zip"
    ignoreErrors: true
  10_extract:
    command: "unzip CloudWatchMonitoringScripts-1.2.1.zip"
    ignoreErrors: true
  11_rmzip:
    command: "rm CloudWatchMonitoringScripts-1.2.1.zip"
    ignoreErrors: true
  12_prereq:
    command: "yum install -y perl-Switch perl-DateTime perl-Sys-Syslog perl-LWP-Protocol-https"
    ignoreErrors: false
  13_cdinto:
    command: "mv aws-scripts-mon/ /home/ec2-user"
    ignoreErrors: true
  14_cron:
    command: "crontab -l | grep -q 'mon-put-instance-data.pl' || crontab -l | { cat; echo '* * * * * /home/ec2-user/aws-scripts-mon/mon-put-instance-data.pl --mem-util --mem-used --mem-avail'; } | crontab -"
    ignoreErrors: false

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "crawler.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: crawler/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    /static/: "static/"

commands:
  WSGIPassAuthorization:
    command: sed -i.bak '/WSGIScriptAlias/ a WSGIPassAuthorization On' config.py
    cwd: /opt/elasticbeanstalk/hooks